[submodule "NSE"]
	path = NSE
	url = https://github.com/resilmesh2/NSE.git
[submodule "ISIM"]
	path = ISIM
	url = https://github.com/resilmesh2/ISIM.git
[submodule "CASM"]
	path = CASM
	url = https://github.com/resilmesh2/CASM.git
[submodule "CSA"]
	path = CSA
	url = https://github.com/resilmesh2/CSA.git
[submodule "WP6_AIBAST"]
	path = WP6_AIBAST
	url = https://github.com/resilmesh2/WP6_AIBAST.git
[submodule "SACD"]
	path = SACD
	url = https://github.com/resilmesh2/SACD.git
