[submodule "CASM"]
	path = CASM
	url = https://github.com/resilmesh2/CASM.git
[submodule "ISIM"]
	path = ISIM
	url = https://github.com/resilmesh2/ISIM.git
[submodule "NDR"]
	path = NDR
	url = https://github.com/resilmesh2/NDR.git
[submodule "NSE"]
	path = NSE
	url = https://github.com/resilmesh2/NSE.git
